[submodule "themes/even"]
	path = themes/even
	url = https://github.com/olOwOlo/hugo-theme-even
[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/Track3/hermit
[submodule "themes/techlog-simple"]
	path = themes/techlog-simple
    url = https://github.com/ChrisCoffey/hugo-theme-techlog-simple.git
